
  .left-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 25px;
    position: relative;
  }
  
  .left-nav::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    background-color: #e2f2ff;
    border-radius: 5px;
    z-index: -1;
  }
  
  .left-nav span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e2f2ff;
    position: relative;
    cursor: pointer;
  }
  
  .left-nav span::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #6f9fc3;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .left-nav span.active::after {
    opacity: 1;
  }
  
  .right-part {
    height: 250px;
    position: relative;
  }
  
  .right-part .card {
    position: absolute;
    /* top: 0; */
    /* transform: translateX(-50%); */
    width: 100%;
    height: 100%;
    background-color: #fafafa;
    background-image: url('../../../Assets/journey.png');
    /*filter: url('../../../Assets/journey.png'); */
    background-blend-mode: color-burn;
    background-size: 150px 230px;
    background-repeat: no-repeat;
    background-position: bottom right;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.8s all;
    
  }
  
  .right-part .card.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .right-part .card h6 {
    font-size: 16px;
    color:#282828;
    font-weight: 600;
    line-height: 26px;
  }
  .right-part .card p {
    color: #565A5C;
    font-size: 14px;
    margin-top: 30px;
  }