.carousel {
    width: 100%;
  }
  
  .carousel-container {
    height: 400px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
  }
  
  .carousel-item {
    width: 330px;
    height: 210px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
  }
  
  .carousel-item-1 {
    left: 30%;
    opacity: 0.4;
    transform: translateX(-50%);
  }
  
  .carousel-item-2,
  .carousel-item-4 {
    height: 250px;
    opacity: 0.9;
    width: 380px;
    z-index: 1;
  }
  
  .carousel-item-2 {
    left: 40%;
    transform: translateX(-50%);
  }
  
  .carousel-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    width: 430px;
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
  
  .carousel-item-4 {
    left: 60%;
    transform: translateX(-50%);
  }
  
  .carousel-item-5 {
    left: 70%;
    opacity: 0.6;
    transform: translateX(-50%);
  }
  
  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
  }
  .controls button {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: darkcyan;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
  }